* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-container {
    width: 1000px;
    height: 600px;
    background: white;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

#map {
    width: 100%;
    height: 100%;
}

.error-message {
    display: none;
    padding: 20px;
    text-align: center;
    color: #e74c3c;
    font-size: 16px;
}

.page-title {
  text-align: center;      /* Zentriert den Text horizontal */
  margin-top: -30px;        /* Abstand von oben */
  font-size: 2rem;         /* Größere Schrift */
  font-weight: bold;
  font-family: fantasy;       /* Fettgedruckt */
}

