name: test-application

on:
  pull_request:
    branches:
      - dev
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps: 
    - name: Code Checkout
      uses: actions/checkout@v4
      with: 
        node-version: '20'
        cache: 'npm'
    - name: Install dependencies
      run: npm ci # Use npm ci for faster installs and CI consistency
    - name: Run tests
      run: npm test -- --watch=false --browsers=ChromeHeadless
    - name: Build Angular project
      run: npm run build -- --configuration production # Update to match your build script

