name: Application Build and Test

on:
  pull_request:
    branches:
      - dev
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
    - name: Code Checkout
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install Chrome
      run: |
        apt-get update
        apt-get install -y wget gnupg
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
        sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
        apt-get update
        apt-get install -y google-chrome-stable

    - name: Install dependencies
      run: npm ci # Use npm ci for faster installs and CI consistency

    - name: Build Angular project
      run: npm run build -- --configuration production # Update to match your build script

    - name: Run tests
      run: npm test -- --watch=false
